<section>

<link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="public/css/font-awesome.min.css">
     <link rel="stylesheet" href="public/css/animate.css">
     <link rel="stylesheet" href="public/css/owl.carousel.css">
     <link rel="stylesheet" href="public/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="public/css/tooplate-style.css">
<div class="container mt-5 ">
          <h1>Doctor Appointment</h1><br>
          <h2>Departments</h2>
        <div class="row   ">
          <form action="/admin/department"method="POST" enctype="multipart/form-data"></form>
            <div class="card " style="width: 18rem; margin-right: 40px ">
  
  <div class="card-body">
    <h5 class="card-title">Oncology</h5>
    <p class="card-text">An oncologist is a doctor who treats cancer and provides medical care for a person diagnosed with cancer..</p><br>
    <a href="/admin/add-appointment" class="btn btn-primary">Add Doctors</a>
    <a href="/admin/o" class="btn btn-primary">Edit Doctors</a>
  </div>
</div>
    <div class="card  " style="width: 18rem; margin-right: 40px ;">
  
  <div class="card-body">
    <h5 class="card-title">Cardiology</h5>
    <p class="card-text">Cardiologists can work in even more specialized areas of heart care, such as treating heart failure, heart rhythm problems or congenital (from birth) conditions.</p>
    <a href="/admin/add-cardiology" class="btn btn-primary">Add Doctors</a>
    <a href="/admin/p" class="btn btn-primary">Edit Doctors</a>
  </div>
</div>
    <div class="card " style="width: 18rem; margin-right: 40px ;">
 
  <div class="card-body">
    <h5 class="card-title">Dermatology</h5>
    <p class="card-text">A dermatologist is a specialist medical doctor who manages diseases related to skin, hair, nails, and some cosmetic problems.</p><br>
    <a href="/admin/add-dermatology" class="btn btn-primary">Add Doctors</a>
    <a href="/admin/q" class="btn btn-primary">Edit Doctors</a>
  </div>
</div>


        </div>
        <div class="row mt-5">
            <div class="card" style="width: 18rem;margin-right: 40px ;">
  
  <div class="card-body">
    <h5 class="card-title">Neurology</h5>
    <p class="card-text">Neurology is the branch of medicine concerned with the study and treatment of disorders of the nervous system.</p><br><br>
    <a href="/admin/add-neurology" class="btn btn-primary">Add Doctors</a>
    <a href="/admin/r" class="btn btn-primary">Edit Doctors</a>
  </div>
</div>
<div class="card " style="width: 18rem; margin-right: 40px ;">
  
  <div class="card-body">
    <h5 class="card-title">Nephrology</h5>
    <p class="card-text">A nephrologist is a physician who specializes in the care and treatment of kidney disease</p><br><br><br>
    <a href="/admin/add-nephrology" class="btn btn-primary">Add Doctors</a>
    <a href="/admin/s" class="btn btn-primary">Edit Doctors</a>
  </div>
</div>
<div class="card " style="width: 18rem; margin-right: 40px ;">
  
  <div class="card-body">
    <h5 class="card-title">Obstetrics & Gynecology</h5>
    <p class="card-text">A branch of medicine that specializes in the care of women during pregnancy and childbirth and in the diagnosis and treatment of diseases of the female reproductive organs.</p>
    <a href="/admin/add-obsestric" class="btn btn-primary">Add Doctors</a>
    <a href="/admin/t" class="btn btn-primary">Edit Doctors</a>
  </div>
</div>
        </div>
        </div>
        </div>
        </section>