<section>
  <body>
  <section id="news" data-stellar-background-ratio="2.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s"><br><br>
                              <h2>Featured Medical Services</h2><br><br>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="">
                                   <img src="images/book3.jpg" class="img-responsive" alt=""><br>
                              </a>
                              <div class="news-info">
                                   
                                   <h3><a href="">Book Your Appointment</a></h3><br>
                                   <p>Admin can change the doctors name,timing and view the booked users.</p>
                                   <a href="/admin/department" class="btn btn-success ml-auto">Select department</a>
                                   <a href="/admin/users" class="btn btn-success ml-auto">Booked details</a>
                                   
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                              <a href="">
                                   <img src="images/lab.jpg" class="img-responsive" alt=""><br>
                              </a>
                              <div class="news-info">
                                   
                                   <h3><a href="">Grab Your Lab Report</a></h3>
                                   <p>Admin can add and edit lab reports.</p>
                                   <a href="/admin/add-lab" class="btn btn-success ml-auto">Add Lab Reports</a>
        <a href="/admin/v" class="btn btn-success ml-auto">Edit Lab Reports</a>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                              <a href="">
                                   <img src="images/medicine.jpg" class="img-responsive" alt=""><br>
                              </a>
                              <div class="news-info">
                                   
                                   <h3><a href="">Buy Medicine Online</a></h3><br>
                                   <p>Admin can add and edit the medicines.</p>
                                  <a href="/admin/add-product" class="btn btn-success ml-auto">Add Medicines</a>
        <a href="/admin/u" class="btn btn-success ml-auto">Edit Medicines</a>
         <a href="/admin/allOrders" class="btn btn-success ml-auto">View Buyers</a>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>
  
</section>