<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <br>
                <h1 class="text-center">Booked  Successfully</h1>
                <br>
                <a>Your have been successfully booked your slot. You will get an notification about the timing of the appointment in given  mobile phone</a>
                <br><br><br>
                <a href="/" class="btn btn-primary">GO BACK</a>
            </div>
        </div>
    </div>
</section>