<section>
  <body>
  <section id="news" data-stellar-background-ratio="2.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s"><br><br>
                              <h2>Meet Our DEvelopers</h2><br><br>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="">
                                   <img src="images/developer2.jpg" class="img-responsive" alt=""style="height:400px;width:250px">
                              </a>
                              <div class="news-info">
                                   
                                   <h3><a href="">Nafila M</a></h3>
                                   <p>Full Stack Developer</p>
                                   <p>Student at Jyothi Engineering College,Thrissur.</p><br>
                                   
                                   
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="">
                                   <img src="images/developer3.jpg" class="img-responsive" alt=""style="height:400px;width:250px">
                              </a>
                              <div class="news-info">
                                   
                                  <h3><a href="">Nandana Sethu</a></h3>
                                   <p>Full Stack Developer</p>
                                   <p>Student at Jyothi Engineering College,Thrissur.</p><br> 
                                   
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="">
                                   <img src="https://media-tir3-2.cdn.whatsapp.net/v/t61.24694-24/427189995_1322270038459048_4716998435431088805_n.jpg?ccb=11-4&oh=01_Q5AaILbIItHD3ObvuJ-69j0LpZ0vGt6AneC51TR3VWHzJDZ6&oe=6637A90F&_nc_sid=e6ed6c&_nc_cat=110" class="img-responsive" alt=""style="height:400px;width:250px ">
                              </a>
                              <div class="news-info">
                                   <h3><a href="">Vishnu K</a></h3>
                                   <p>Full Stack Developer</p>
                                   <p>Student at Jyothi Engineering College,Thrissur.</p><br>
                                   
                                   
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="">
                                   <img src="images/developer1.jpg" class="img-responsive" alt=""style="height:400px;width:250px">
                              </a>
                              <div class="news-info">
                                   <h3><a href="">Jobin George</a></h3>
                                   <p>Full Stack Developer</p>
                                   <p>Student at Jyothi Engineering College,Thrissur.</p><br>
                                  
                                   
                              </div>
                         </div>
                    </div>
                    

                    
          </div>
     </section>
  
</section>
