  
  <section>
    

        <div class="container mt-5 ">
          <h1 style=" 
    letter-spacing: -4px;
    color: #6fb374;
  ">Book Appointment</h1><br>
          <h2 style="color:black">Our Specialities</h2>
        <div class="row   ">
          
            <div class="card " style="width: 30rem; margin-right: 60px ">
  
  <div class="card-body" style="background-color:#F0E68C" >
    <h5 class="card-title" style="color:black; font-weight:bolder">Oncology</h5>
    
    <p class="card-text"style="color:black; ">An oncologist is a doctor who treats cancer and provides medical care for a person diagnosed with cancer.</p>
    <br><a href="/op" class="btn btn-primary">View Doctors</a>
  </div>
</div>
    <div class="card  " style="width: 30rem; margin-right: 60px ">
  
  <div class="card-body"style="background-color:#F0E68C">
    
    <h5 class="card-title"style="color:black; font-weight:bolder">Cardiology</h5>
    
    <p class="card-text"style="color:black; ">Cardiologists can work in even more specialized areas of heart care, such as treating heart failure, heart rhythm problems or congenital (from birth) conditions.</p>
    <a href="/cardiology" class="btn btn-primary">View Doctors</a>
  </div>
</div>
    <div class="card " style="width: 30rem; margin-right: 60px ;">
  
  <div class="card-body"style="background-color:#F0E68C">
    <h5 class="card-title"style="color:black; font-weight:bolder">Dermatology</h5>
   
    <p class="card-text"style="color:black; ">A dermatologist is a specialist medical doctor who manages diseases related to skin, hair, nails, and some cosmetic problems.</p>
    <br><a href="/dermatology" class="btn btn-primary">View Doctors</a>
  </div>
</div>


        </div>
        <div class="row mt-5">
            <div class="card" style="width: 30rem;margin-right: 60px ;">
  
  <div class="card-body"style="background-color:#F0E68C">
    <h5 class="card-title"style="color:black; font-weight:bolder">Neurology</h5>
    
    <p class="card-text"style="color:black; ">Neurology is the branch of medicine concerned with the study and treatment of disorders of the nervous system. </p>
   <br><br> <a href="/neurology" class="btn btn-primary">View Doctors</a>
  </div>
</div>
<div class="card " style="width: 30rem; margin-right: 60px ;">
  
  <div class="card-body"style="background-color:#F0E68C">
    <h5 class="card-title"style="color:black; font-weight:bolder">Nephrology</h5>
    
    <p class="card-text"style="color:black; ">A nephrologist is a physician who specializes in the care and treatment of kidney disease</p>
   <br><br><br> <a href="/nephrology" class="btn btn-primary">View Doctors</a>
  </div>
</div>
<div class="card " style="width: 30rem; margin-right: 60px ;">
 
  <div class="card-body"style="background-color:#F0E68C">
    <h5 class="card-title"style="color:black; font-weight:bolder">Obstetrics & Gynecology</h5>
    
    <p class="card-text"style="color:black; ">A branch of medicine that specializes in the care of women during pregnancy and childbirth and in the diagnosis and treatment of diseases of the female reproductive organs.</p>
    <a href="/obsestric" class="btn btn-primary">View Doctors</a>
  </div>
</div>
        </div>
        </div>
        </div>
       
          
        
        </div>
    
    </section>
    
      
    
